<div class="row">
  <div class="small-8 small-centered text-center medium-6 columns display-container">

    <h1>Edit <%= @meeting.name %></h1>

    <%= form_for @meeting, url: {action: "update" } do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.text_field :address, placeholder: "Address" %>
      <%= f.text_field :phone, placeholder: "Phone" %>
      <%= f.text_field :website, placeholder: "Website" %>
      <%= f.text_field :affiliation, placeholder: "Affiliation" %>
      <%= f.submit "Update", class: "button" %>
    <% end %>

    <%= button_to "Delete Meeting", meeting_path, method: "delete", data: { confirm: "Are you sure you want to delete #{@meeting.name}?" }, class: "button" %>
  </div>
</div>
