<div class="row">
  <div class="small-8 small-centered text-center medium-6 columns display-container">

    <h1>Add a New Meeting</h1>

    <%= form_for @meeting do |f| %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.text_field :address, placeholder: "Address" %>
      <%= f.text_field :phone, placeholder: "Phone" %>
      <%= f.text_field :website, placeholder: "Website" %>
      <%= f.text_field :affiliation, placeholder: "Affiliation" %>
      <%= f.submit "Submit", class: "button" %>

    <% end %>
  </div>
</div>
