<div class="row">
  <div class="small-12 text-center columns">
    <h1><%= @meeting.name %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-centered text-center columns display-container">
    <h2>Meeting Details</h2>
    <ul class="no-bullet">
      <% @meeting.attributes.each do |key, value| %>
        <li><%= attribute_filter(key, value) %></li>
      <% end %>
    </ul>
    <%= link_to "Edit Meeting", edit_meeting_path(@meeting), class: "button" %>
    <br />
    <%= link_to "Back to Dashboard", dashboard_path %>
  </div>
</div>

<div class="row centered">
  <div class="small-6 medium-4 medium-offset-1 text-center columns display-container">
    <% if @meeting.individuals %>
      <h2>Friends</h2>
      <ul class="no-bullet">
        <% @meeting.individuals.each do |individual| %>
          <li><%= link_to "#{individual.first_name} #{individual.last_name}", meeting_individual_path(@meeting, individual) %></li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to "Add Friend", new_meeting_individual_path(@meeting), class: "button" %>
    <br />
    <%= link_to "Back to Dashboard", dashboard_path %>
  </div>

  <div class="small-6 medium-4 medium-offset-2 end text-center columns display-container">

    <h2>Groups</h2>

    <%= link_to "Add Group", new_meeting_group_path(@meeting), class: "button" %>
    <br />
    <%= link_to "Back to Dashboard", dashboard_path %>
  </div>
</div>
