<div class="row top-page-element">
  <div class="small-12 text-center columns">

  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-centered text-center columns display-container">
    <h1><%= @meeting.name %></h1>
    <ul class="no-bullet">
      <li>Address: <%= @meeting.address %></li>
      <li>Phone: <%= @meeting.phone %></li>
      <li>Website: <%= @meeting.website %></li>
      <li>Affiliation: <%= @meeting.affiliation %></li>
    </ul>
    <%= link_to "Edit Meeting", edit_meeting_path(@meeting), class: "button" %>
    <br />
    <%= link_to "Back to Dashboard", dashboard_path %>
  </div>
</div>

<div class="row centered" data-equalizer data-equalize-on="medium" id="test-eq">
  <div class="columns small-6 medium-4 medium-offset-1">
    <div class="text-center display-container" data-equalizer-watch>

      <h2>People</h2>
      <% if @meeting.individuals %>
        <ul class="no-bullet">
          <% @meeting.individuals.each do |individual| %>
            <li><%= link_to "#{individual.first_name} #{individual.last_name}", meeting_individual_path(@meeting, individual) %></li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to "Add Individual", new_meeting_individual_path(@meeting), class: "button" %>
      <br />
    </div>
  </div>

  <div class="columns small-6 medium-4 medium-offset-2 end">
    <div class="text-center display-container" data-equalizer-watch>

      <h2>Groups</h2>
      <% if @meeting.groups %>
        <ul class="no-bullet">
          <% @meeting.groups.each do |group| %>
            <li><%= link_to "#{group.name}", meeting_group_path(@meeting, group) %></li>
          <% end %>
        </ul>
      <% end %>
      <%= link_to "Add Group", new_meeting_group_path(@meeting), class: "button" %>
      <br />
    </div>
  </div>
</div>
