<div class="row">
  <div class="small-8 small-centered text-center medium-6 columns display-container">

    <h1>Edit <%= @group.name %></h1>

    <%= form_for [@meeting, @group] do |f| %>
      <%= f.text_field :name, placeholder: "Group Name" %>
      <%= f.text_area :description, placeholder: "Description" %>
      <%= f.submit "Submit", class: "button" %>
    <% end %>

    <%= button_to "Delete Group", meeting_group_path, method: "delete", data: { confirm: "Are you sure you want to delete #{@group.name}?" }, class: "button" %>
  </div>
</div>
