<div class="row top-page-element">
  <div class="small-8 small-centered medium-4 columns text-center display-container">

    <h1><%= @group.name %></h1>

    <p><%= @group.description %></p>

    <h5>Members of <%= @group.name %></h5>
    <ul class="no-bullet">
      <em><%= "no members yet" unless @group.individuals.size > 0 %></em>
      <% @group.individuals.order(last_name: :asc).each do |individual| %>
        <li><%= link_to "#{individual.first_name} #{individual.last_name}", meeting_individual_path(@meeting, individual) %></li>
      <% end %>
    </ul>
    <%= link_to "Edit Group", edit_meeting_group_path(@meeting, @group), class: "button" %>
    <br />
    <%= link_to "Back to #{@meeting.name}", meeting_path(@meeting) %>
  </div>
</div>
