<div class="row">
  <div class="small-8 small-centered text-center medium-6 columns display-container">


    <h1>Edit <%= @individual.first_name %> <%= @individual.last_name %></h1>

    <%= form_for [@meeting, @individual], url: {action: "update" } do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <%= f.text_field :address, placeholder: "Address" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.text_field :phone, placeholder: "Phone" %>
      <%= select_date @individual.birthday, start_year: Date.today.year - 120, end_year: Date.today.year, order: [:day, :month, :year], prefix: :birthday, placeholder: "Birthday" %>
      <%= f.text_field :notes, placeholder: "Notes" %>
      <%= f.submit "Update", class: "button" %>
    <% end %>

    <%= button_to "Delete Profile", meeting_individual_path, method: "delete", data: { confirm: "Are you sure you want to delete #{@individual.first_name} #{@individual.last_name}?" }, class: "button" %>
  </div>
</div>
