<div class="row">
  <div class="small-12 text-center columns">
    <h1><%= @individual.first_name %> <%= @individual.last_name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-8 medium-4 small-centered text-center columns display-container">
    <ul class="no-bullet">
      <% @individual.attributes.each do |key, value| %>
        <li><%= attribute_filter(key, value) %></li>
      <% end %>
      <li>Groups:
        <em><%= "none" unless @individual.groups.size > 0 %></em>
        <% @individual.groups.each_with_index do |group, index| %>
          <% if index == @individual.groups.size - 1 %>
            <%= link_to "#{group.name}", meeting_group_path(@meeting, group) %>
          <% else %>
            <%= link_to "#{group.name}, ", meeting_group_path(@meeting, group) %>
          <% end %>
        <% end %>
      </li>
    </ul>
    <%= form_for @group_assignment, url: { action: "add_or_remove", controller: "group_assignments" }, method: "post" do |f| %>
      <%= f.collection_select :group, @meeting.groups, :id, :name, include_blank: "Add/Remove #{@individual.first_name} from Group" %>
      <%= hidden_field_tag 'meeting_id', @meeting.id %>
      <%= hidden_field_tag 'individual_id', @individual.id %>
      <%= f.submit "+", class: "button" %>
      <%= f.submit "-", class: "button" %>
    <% end %>
    <%= link_to "Update #{@individual.first_name}'s information", edit_meeting_individual_path(@meeting, @individual), class: "button" %>
    <br />
    <%= link_to "Back to #{@meeting.name}", meeting_path(@meeting), class: "button" %>
  </div>
</div>
