<div class="row">
  <div class="small-12 text-center columns">
    <h1><%= @individual.first_name %> <%= @individual.last_name %></h1>
  </div>
</div>
<div class="row">
  <div class="small-8 medium-4 small-centered text-center columns display-container">
    <ul class="no-bullet">
      <% @individual.attributes.each do |key, value| %>
        <li><%= attribute_filter(key, value) %></li>
      <% end %>
    </ul>
    <%= form_for @group_assignment do |f| %>
      <%= f.collection_select :groups, @meeting.groups, :id, :name, prompt: true %>
      <%= f.submit "+", class: "button" %>
    <% end %>
    <br />
    <%= link_to "Update #{@individual.first_name}'s information", edit_meeting_individual_path(@meeting, @individual), class: "button" %>
    <br />
    <%= link_to "Back to #{@meeting.name}", meeting_path(@meeting) %>
  </div>
</div>
